<form #form="ngForm" (ngSubmit)="zapisz()">
  <div>
    <input type="text" name="nazwa" #nazwa="ngModel" [(ngModel)]="daneCzlowiek.nazwa" required pattern="[A-Z][a-z0-9\s^A]{2,20}">
    <div class="text-danger" *ngIf="nazwa.invalid && (nazwa.dirty || form.submitted)">
      <div *ngIf="nazwa.hasError('required')">
        Coś
      </div>
    </div>
  </div>
  <div>
    <input type="email" name="email" #email="ngModel [(ngModel)]="daneCzlowiek.email">
    <div class="text-danger" *ngIf="email.invalid && (email.dirty || form.submitted)">
      <div *ngIf="email.hasError('required')">
        Coś
      </div>
    </div>
  </div>
  <div>
    <input type="number" name="wiek" #wiek="ngModel" [(ngModel)]="daneCzlowiek.wiek">
  </div>
  <div>
    <textarea #zainst="ngModel" name="zaintere" [(ngModel)]="daneCzlowiek.zainteresowania"></textarea>
  </div>
  <div>
    {{daneCzlowiek.ocena}} <input type="range" name="ocena" #ocena min="1" max="10" step="1" [(ngModel)]="daneCzlowiek.ocena">
  </div>

  <div>
    <select [(ngModel)]="daneCzlowiek.zawod" name="zawod">
      <option value="uczen">uczen</option>
      <option value="naucz">nauczyciel</option>
      <option value="rodz">rodzic</option>
      <option value="ospryw">osoba prywatna</option>
    </select>
  </div>
  <div>
    <input type="checkbox" name="mezcz" #m [(ngModel)]="daneCzlowiek.plec">Man
  </div>
  <button type="submit" (click)="zapisz()">Prześlij</button>
</form>
