<form #form="ngForm" (ngSubmit)="zapisz()">
  <div>
    <input type="text" name="nazwa" #nazwa [(ngModel)]="daneCzlowiek.nazwa">
  </div>
  <div>
    <input type="email" name="email" #email [(ngModel)]="daneCzlowiek.email">
  </div>
  <div>
    <input type="number" name="wiek" #wiek [(ngModel)]="daneCzlowiek.wiek">
  </div>
  <div>
    <textarea #zainst name="zaintere" [(ngModel)]="daneCzlowiek.zainteresowania"></textarea>
  </div>
  <div>
    {{daneCzlowiek.ocena}} <input type="range" name="ocena" #ocena min="1" max="10" step="1" [(ngModel)]="daneCzlowiek.ocena">
  </div>

  <div>
    <select [(ngModel)]="daneCzlowiek.zawod" name="zawod">
      <option value="uczen">uczen</option>
      <option value="naucz">nauczyciel</option>
      <option value="rodz">rodzic</option>
      <option value="ospryw">osoba prywatna</option>
    </select>
  </div>
  <div>
    <input type="checkbox" name="mezcz" #m [(ngModel)]="daneCzlowiek.plec">Man
  </div>
  <button type="submit" (click)="zapisz()">Prześlij</button>
</form>
